<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,
			shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Chroma Quilting - Customized T-shirt, Memory Quilts, Long-arm Service,
			and more!</title>
		<link rel="icon" type="image/x-icon" href="../../public/img/favicon.png" />
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
			crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
			rel="stylesheet" type="text/css" />
		<link
			href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
			rel="stylesheet"
			type="text/css" />
		<link
			href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
			rel="stylesheet" type="text/css" />
		<!-- Core theme CSS (includes Bootstrap)-->
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous">
		<link href="css/custom.css" rel="stylesheet" />


		<!-- Slick Carousel -->
		<link rel="stylesheet" type="text/css"
			href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:wght@300&display=swap"
			rel="stylesheet">

	</head>

	<body>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous"
			src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=2431714006841883&autoLogAppEvents=1"
			nonce="vTSDJPON"></script>
		{{>nav}}
		{{>header}}
		{{>newsletter}}
		{{>news}}
		{{>schedule}}
		{{>services}}
		{{>equipment}}
		{{>gallery}}
		{{>team}}
		{{>reviews}}
		{{>contact}}
		{{>socialmedia}}
		{{>footer}}
		{{>modals}}
		<!-- Bootstrap core JS-->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
		<!-- Third party plugin JS-->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		<!-- Contact form JS-->
		<script src="assets/mail/jqBootstrapValidation.js"></script>
		<script src="assets/mail/contact_me.js"></script>
		<!-- Slick Carousel -->
		<script type="text/javascript"
			src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<!-- Core theme JS-->
		<script src="js/scripts.js"></script>

	</body>

</html>