 <!-- services Grid-->
<section id="equipment">
	<div class="container">

		<div class="row">
			<div class="col-lg-6 col-md-8 col-12 mx-auto p-3 bg-rgba-green stitches
				text-white">
				<h2 class="text-left text-uppercase pl-2">Computer Guided <br />
					<span class="text-bold-yellow">Precision</span></h2>
				<div class="text-right" id="rotary-blade">
					<img src="img/icons/rotary-down-icon.svg" alt="Rotary
						Blade Icon" width="100
						px" height="auto" />
					<hr class="hr-white" />
				</div>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Minima maxime <span class="text-bold-yellow">1000 </span> architecto
					quo <span class="text-bold-yellow">inventore</span> harum ex magni, dicta
					impedit.</p>
			</div>


		</div>

	</div>
</section>
