<!-- Masthead-->
<header class="jumbotron jumbotron-fluid mb-0">

    <div class="container">
    
        {{#each nav}}
            {{#if jumboLink}}
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
                href="{{url}}">Tell Me More</a>
            {{/if}}
        {{/each}}



    </div>
</header>

