
<div class="container-fluid py-3 bg-green">
    <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-center
            align-items-end text-white text-right">
            <h5>Sign-Up for Our Newsletter</h5>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" id="name" type="text"
                    placeholder="Your email" required="required"
                    data-validation-required-message="Please enter your email."
                    />
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-xl text-uppercase px-5 py-1"
                id="sendMessageButton"
                type="submit">Sign Up</button>
        </div>
    </div>
</div>