 <!-- Clients-->
<div class="bg-main-color py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 d-flex align-items-center mb-2">
                <a href="#!"><img class="img-fluid d-block mx-auto"
                        src="img/main/customer-1.jpg" alt="" /></a>
            </div>
            <div class="col-sm-6 d-flex align-items-center mb-2">
                <div class="bg-white text-orange text-center py-2
                    stitches-yellow">
                    <i class="fas fa-quote-right fa-2x"></i>
                    <blockquote>
                        <p class="mb-0">"Amanda loves what she does and it
                            shows.The quilts are beautiful!!! She takes the
                            time to hear what you want to do and has great
                            customer service. I am looking to do more business
                            with her."</p>
                        <footer class="blockquote-footer">Someone famous in
                            <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-sm-3 d-flex align-items-center mb-2">
                <a href="#!"><img class="img-fluid d-block mx-auto"
                        src="img/main/customer-2.jpg"
                        alt="" /></a>
            </div>
        </div>
    </div>
</div>
