<!-- Services & Upcoming Classes -->
<section class="bg-light-shade" id="classes">
	<div class="container-fluid">

		<!-- News Updates -->



		<!-- Upcoming Classes -->
		<div class="row text-center">
			<div class="col-12 order-last">
				<h2 class="text-white text-uppercase">Upcoming Events</h2>
				<p class="section-subheading text-muted">Our classes offer a chance for
					much needed social time and creative confidence</p>

				<!-- Card -->
				<div class="card weather-card">

					<!-- Card content -->
					<div class="card-body pb-3">

						<!-- Title -->
						<h4 class="card-title font-weight-bold">How to T-Shirt Quilt</h4>
						<!-- Text -->
						<p class="card-text">12:30 PM, Fri, Oct 16, 2020</p>
						<p class="card-text">Hays Rec Center</p>


					</div>

					<hr class="">

					<a class="btn p-1 my-1 mr-0 mml-1" href="#">Learn More</a>

				</div>

			</div>

		</div>
		<!-- Card -->

	</div>{{!end of row}}

</section>
