 <!-- Footer-->
<section class="social-media py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 mx-auto text-center">
                <h3 class="stitches-green mb-5">Stay Connected</h3>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-social mx-2" href="#!"><i class="fab
                            fa-instagram fa-3x"></i></a>
                    <a class="btn btn-social mx-2" href="#!"><i class="fab
                            fa-facebook-f fa-3x"></i></a>
                    <a class="btn btn-social mx-2" href="#!"><i class="fab
                            fa-twitter fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>